.main-div{
    background-color: rgb(94, 33, 33);
}
.main-div{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    border-bottom: 30px solid red;
}
ul{
    display: flex;
    list-style: none;
}
li{
    padding-right: 20px;
    color: white;
    font-size: 30px;
}
button{
    background-color: red;
    color: white;
    border: 0;
    padding: 15px;font-size: 15px;
    border-radius: 30px;
}
.form{
    background-color: rgb(17, 15, 15);
    color:blue;
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
}
.grey{
    background-color: royalblue;
    display:flex;
    list-style: none;
    padding-right: 10px;
    margin-left: 1px;
    justify-content: space-between;
    font-size: 20px;
}
.blue-div{
    background-color:;
}
.grey li{
    font-size: 20px;
    justify-content: space-around;
}
.grey h1{
    padding: 0 100px;
}
.grey h6{
    justify-content: space-between ;
}